body{
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    color: hsl(237, 63%, 64%);
    background-color: white;
    margin: 0;
}
@media screen and (max-width: 775px){
    #content{
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(100px, auto);
        min-width: 375px;
        grid-gap: 40px;
        grid-template-areas:
            "design1"
            "top1"
            "basic"
            "professional"
            "master"
            "attribution"
            "design2";
        background-color: hsl(240, 78%, 98%);
    }
    #design1 {
        grid-area: design1;
        width: 200px;
        height: 20px;
        margin-left: 300px;
        margin-top: -50px;
    }
    #design2 {
        grid-area: design2;
        z-index: -1;
    }    
    #top1 {
        grid-area: top1;
        width: 350px;
        height: 180px;
        justify-self: center;
        margin-top: -100px;
    }    
    #basic {
        grid-area: basic;
        width: 360px;
        height: 480px;
        margin-top: -20px;
        padding-top: 10px;
        justify-self: center;
        background-color: white;
        border-radius: 7px;
    }
    #professional {
        grid-area: professional;
        width: 360px;
        height: 480px;
        padding-top: 10px;
        justify-self: center;
        background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
        border-radius: 7px;
        color: white;
    }    
    #master {
        grid-area: master;
        width: 360px;
        height: 480px;
        padding-top: 10px;
        justify-self: center;
        background-color: white;
        border-radius: 7px;
    }
}
/* desktop grid */
@media screen and (min-width: 775px){
    #content{
        display: grid;
        grid-template-columns: 535px 370px 535px;
        grid-auto-rows: minmax(10px, auto);
        max-width: 1440px;
        grid-template-areas:
            "design2 design2 design1"
            "top1 top1 top1"
            "basic professional master"
            "attribution attribution attribution";
        background-color: hsl(240, 78%, 98%);
    }
    #design1 {
        grid-area: design1;
        width: 200px;
        height: 200px;
        margin-left: 160px;
    }    
    #design2 {
        grid-area: design2;
        width: 200px;
        height: 200px;
        margin-top: 600px;
    }    
    #top1 {
        grid-area: top1;
        width: 440px;
        height: 180px;
        justify-self: center;
        margin-top: -760px;
        margin-bottom: 20px;
    }
    #basic {
        grid-area: basic;
        width: 370px;
        height: 480px;
        margin-top: -550px;
        padding-top: 10px;
        justify-self: right;
        background-color: white;
        border-radius: 7px;
        z-index: 1;
    }
    #professional {
        grid-area: professional;
        width: 370px;
        height: 500px;
        margin-top: -570px;
        padding-top: 35px;
        justify-self: center;
        background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
        border-radius: 7px;
        color: white;
    }    
    #master {
        grid-area: master;
        width: 370px;
        height: 480px;
        margin-top: -550px;
        padding-top: 10px;
        justify-self: left;
        background-color: white;
        border-radius: 7px;
        z-index: 1;
    }
}
.priceB {
    color: hsl(232, 13%, 33%);
    margin-top: 20px;
    margin-bottom: 30px;
}
.priceP {
    color: white;
    margin-top: 20px;
    margin-bottom: 30px;
}
.priceM {
    color: hsl(232, 13%, 33%);
    margin-top: 20px;
    margin-bottom: 30px;
}
.currency {
    font-size: 38px;
    position: relative;
    bottom: 12px;
    margin-right: 10px;
}
.amount {
    font-size: 70px;
    margin-bottom: 40px;
}
h2 {
    margin-bottom: 45px; 
    color: hsl(233, 23%, 49%);
    font-size: 30px;
}
.line {
    margin-top: -15px;
    color: hsl(236, 82%, 92%);
    opacity: 0.4;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input + .slider {
  background-color: hsl(237, 68%, 72%);
}
input:hover + .slider {
    background-color: hsl(236, 72%, 84%) ;
}
input:focus + .slider {
    box-shadow: 0 0 1px hsl(237, 68%, 72%);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#buttons {
    margin-top: 40px;
}
.btnStyle1 {
    background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    color: white;
    padding: 10px 85px;
    text-align: center;
    border-radius: 5px;
}
.btnStyle1:hover {
    background-image: none;
    padding: 10px 85px;
    text-align: center;
    border-radius: 5px;
}
#btnStyle1Hover {
    padding: 10px 85px;
    text-align: center;
    border-radius: 5px;
}
#btnStyle1Hover:hover {
    background-color: white;
    color: hsl(237, 63%, 64%);
    border: 1px solid hsl(237, 63%, 64%);
    border-radius: 5px;
}
.btnStyle2 {
    background-color: white;
    color: hsl(237, 68%, 72%);
    padding: 10px 85px;
    text-align: center;
    border-radius: 5px;
}
.btnStyle2:hover {
    background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}
.attribution { 
    grid-area: attribution;
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
